In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [2]:
ecg = pd.read_csv('08215_label_100_data.csv')
ecg

,0,201,186,182,181,303,199,182.1,179,180,...,191,190.1,190.2,188.7,188.8,191.1,190.3,191.2,189.1,190.4
0,0,186,182,181,303,199,182,179,180,182,...,190,190,188,188,191,190,191,189,190,188
1,0,182,181,303,199,182,179,180,182,183,...,190,188,188,191,190,191,189,190,188,187
2,0,181,303,199,182,179,180,182,183,122,...,188,188,191,190,191,189,190,188,187,188
3,0,303,199,182,179,180,182,183,122,214,...,188,191,190,191,189,190,188,187,188,186
4,0,199,182,179,180,182,183,122,214,184,...,191,190,191,189,190,188,187,188,186,187
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43250,100,233,235,142,256,246,245,251,145,193,...,250,245,153,215,236,182,244,267,208,174
43251,100,235,142,256,246,245,251,145,193,239,...,245,153,215,236,182,244,267,208,174,223
43252,100,142,256,246,245,251,145,193,239,326,...,153,215,236,182,244,267,208,174,223,225
43253,100,256,246,245,251,145,193,239,326,307,...,215,236,182,244,267,208,174,223,225,149
43254,100,246,245,251,145,193,239,326,307,224,...,236,182,244,267,208,174,223,225,149,251

In [3]:
ecg.columns = ['label', '0', '1', '2', '3', '4', '5', '6', '7','8','9','10',
              '11', '12', '13', '14', '15', '16', '17','18','19','20',
              '21', '22', '23', '24', '25', '26', '27','28','29','30',
              '31', '32', '33', '34', '35', '36', '37','38','39','40',
              '41', '42', '43', '44', '45', '46', '47','48','49','50',
              '51', '52', '53', '54', '55', '56', '57','58','59','60',
              '61', '62', '63', '64', '65', '66', '67','68','69','70',
              '71', '72', '73', '74', '75', '76', '77','78','79','80',
              '81', '82', '83', '84', '85', '86', '87','88','89','90',
              '91', '92', '93', '94', '95', '96', '97','98','99']

In [4]:
ecg

,label,0,1,2,3,4,5,6,7,8,...,90,91,92,93,94,95,96,97,98,99
0,0,186,182,181,303,199,182,179,180,182,...,190,190,188,188,191,190,191,189,190,188
1,0,182,181,303,199,182,179,180,182,183,...,190,188,188,191,190,191,189,190,188,187
2,0,181,303,199,182,179,180,182,183,122,...,188,188,191,190,191,189,190,188,187,188
3,0,303,199,182,179,180,182,183,122,214,...,188,191,190,191,189,190,188,187,188,186
4,0,199,182,179,180,182,183,122,214,184,...,191,190,191,189,190,188,187,188,186,187
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43250,100,233,235,142,256,246,245,251,145,193,...,250,245,153,215,236,182,244,267,208,174
43251,100,235,142,256,246,245,251,145,193,239,...,245,153,215,236,182,244,267,208,174,223
43252,100,142,256,246,245,251,145,193,239,326,...,153,215,236,182,244,267,208,174,223,225
43253,100,256,246,245,251,145,193,239,326,307,...,215,236,182,244,267,208,174,223,225,149
43254,100,246,245,251,145,193,239,326,307,224,...,236,182,244,267,208,174,223,225,149,251

In [5]:
import re
string = "0	201	186	182	181	303	199	182	179	180	182	183	122	214	184	184	182	183	180	181	183	184	185	184	185	182	183	184	291	214	183	183	184	184	184	184	182	183	182	184	186	185	187	185	185	186	186	186	188	187	186	187	185	186	187	187	185	185	186	186	186	183	184	183	186	186	185	183	183	183	185	185	315	318	140	219	190	185	184	185	186	185	187	187	188	189	188	188	188	188	188	191	190	190	188	188	191	190	191	189	190"

















pattern = re.compile("^\s+|\s*,\s*|\s+$,\t")
print([x for x in pattern.split(string) if x])
first_row = [x for x in pattern.split(string) if x]

# first_row.split('\t')

['0\t201\t186\t182\t181\t303\t199\t182\t179\t180\t182\t183\t122\t214\t184\t184\t182\t183\t180\t181\t183\t184\t185\t184\t185\t182\t183\t184\t291\t214\t183\t183\t184\t184\t184\t184\t182\t183\t182\t184\t186\t185\t187\t185\t185\t186\t186\t186\t188\t187\t186\t187\t185\t186\t187\t187\t185\t185\t186\t186\t186\t183\t184\t183\t186\t186\t185\t183\t183\t183\t185\t185\t315\t318\t140\t219\t190\t185\t184\t185\t186\t185\t187\t187\t188\t189\t188\t188\t188\t188\t188\t191\t190\t190\t188\t188\t191\t190\t191\t189\t190']

In [6]:
first_row =first_row[0].split('\t')

In [7]:
type(first_row)

list

In [8]:
first_row

['0',
 '201',
 '186',
 '182',
 '181',
 '303',
 '199',
 '182',
 '179',
 '180',
 '182',
 '183',
 '122',
 '214',
 '184',
 '184',
 '182',
 '183',
 '180',
 '181',
 '183',
 '184',
 '185',
 '184',
 '185',
 '182',
 '183',
 '184',
 '291',
 '214',
 '183',
 '183',
 '184',
 '184',
 '184',
 '184',
 '182',
 '183',
 '182',
 '184',
 '186',
 '185',
 '187',
 '185',
 '185',
 '186',
 '186',
 '186',
 '188',
 '187',
 '186',
 '187',
 '185',
 '186',
 '187',
 '187',
 '185',
 '185',
 '186',
 '186',
 '186',
 '183',
 '184',
 '183',
 '186',
 '186',
 '185',
 '183',
 '183',
 '183',
 '185',
 '185',
 '315',
 '318',
 '140',
 '219',
 '190',
 '185',
 '184',
 '185',
 '186',
 '185',
 '187',
 '187',
 '188',
 '189',
 '188',
 '188',
 '188',
 '188',
 '188',
 '191',
 '190',
 '190',
 '188',
 '188',
 '191',
 '190',
 '191',
 '189',
 '190']

In [9]:
len(first_row)

101

In [10]:
first_row = pd.DataFrame(first_row)

In [11]:
first_row =first_row.T
first_row

,0,1,2,3,4,5,6,7,8,9,...,91,92,93,94,95,96,97,98,99,100
0,0,201,186,182,181,303,199,182,179,180,...,191,190,190,188,188,191,190,191,189,190

In [12]:
first_row.columns = ['label', '0', '1', '2', '3', '4', '5', '6', '7','8','9','10',
              '11', '12', '13', '14', '15', '16', '17','18','19','20',
              '21', '22', '23', '24', '25', '26', '27','28','29','30',
              '31', '32', '33', '34', '35', '36', '37','38','39','40',
              '41', '42', '43', '44', '45', '46', '47','48','49','50',
              '51', '52', '53', '54', '55', '56', '57','58','59','60',
              '61', '62', '63', '64', '65', '66', '67','68','69','70',
              '71', '72', '73', '74', '75', '76', '77','78','79','80',
              '81', '82', '83', '84', '85', '86', '87','88','89','90',
              '91', '92', '93', '94', '95', '96', '97','98','99']
first_row

,label,0,1,2,3,4,5,6,7,8,...,90,91,92,93,94,95,96,97,98,99
0,0,201,186,182,181,303,199,182,179,180,...,191,190,190,188,188,191,190,191,189,190

In [13]:
ecg

,label,0,1,2,3,4,5,6,7,8,...,90,91,92,93,94,95,96,97,98,99
0,0,186,182,181,303,199,182,179,180,182,...,190,190,188,188,191,190,191,189,190,188
1,0,182,181,303,199,182,179,180,182,183,...,190,188,188,191,190,191,189,190,188,187
2,0,181,303,199,182,179,180,182,183,122,...,188,188,191,190,191,189,190,188,187,188
3,0,303,199,182,179,180,182,183,122,214,...,188,191,190,191,189,190,188,187,188,186
4,0,199,182,179,180,182,183,122,214,184,...,191,190,191,189,190,188,187,188,186,187
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43250,100,233,235,142,256,246,245,251,145,193,...,250,245,153,215,236,182,244,267,208,174
43251,100,235,142,256,246,245,251,145,193,239,...,245,153,215,236,182,244,267,208,174,223
43252,100,142,256,246,245,251,145,193,239,326,...,153,215,236,182,244,267,208,174,223,225
43253,100,256,246,245,251,145,193,239,326,307,...,215,236,182,244,267,208,174,223,225,149
43254,100,246,245,251,145,193,239,326,307,224,...,236,182,244,267,208,174,223,225,149,251

In [14]:
final_ecg = pd.concat([first_row, ecg])
final_ecg

,label,0,1,2,3,4,5,6,7,8,...,90,91,92,93,94,95,96,97,98,99
0,0,201,186,182,181,303,199,182,179,180,...,191,190,190,188,188,191,190,191,189,190
0,0,186,182,181,303,199,182,179,180,182,...,190,190,188,188,191,190,191,189,190,188
1,0,182,181,303,199,182,179,180,182,183,...,190,188,188,191,190,191,189,190,188,187
2,0,181,303,199,182,179,180,182,183,122,...,188,188,191,190,191,189,190,188,187,188
3,0,303,199,182,179,180,182,183,122,214,...,188,191,190,191,189,190,188,187,188,186
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43250,100,233,235,142,256,246,245,251,145,193,...,250,245,153,215,236,182,244,267,208,174
43251,100,235,142,256,246,245,251,145,193,239,...,245,153,215,236,182,244,267,208,174,223
43252,100,142,256,246,245,251,145,193,239,326,...,153,215,236,182,244,267,208,174,223,225
43253,100,256,246,245,251,145,193,239,326,307,...,215,236,182,244,267,208,174,223,225,149
43254,100,246,245,251,145,193,239,326,307,224,...,236,182,244,267,208,174,223,225,149,251

In [15]:
final_ecg =final_ecg.astype(float)

In [16]:
final_ecg_label=final_ecg["label"].astype(int)
final_ecg_label

0          0
0          0
1          0
2          0
3          0
        ...
43250    100
43251    100
43252    100
43253    100
43254    100
Name: label, Length: 43256, dtype: int32

In [17]:
final_ecg_divide =final_ecg.iloc[:,1:]/250*1000
# df.round(0).astype(int)
final_ecg_divide

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,804.0,744.0,728.0,724.0,1212.0,796.0,728.0,716.0,720.0,728.0,...,764.0,760.0,760.0,752.0,752.0,764.0,760.0,764.0,756.0,760.0
0,744.0,728.0,724.0,1212.0,796.0,728.0,716.0,720.0,728.0,732.0,...,760.0,760.0,752.0,752.0,764.0,760.0,764.0,756.0,760.0,752.0
1,728.0,724.0,1212.0,796.0,728.0,716.0,720.0,728.0,732.0,488.0,...,760.0,752.0,752.0,764.0,760.0,764.0,756.0,760.0,752.0,748.0
2,724.0,1212.0,796.0,728.0,716.0,720.0,728.0,732.0,488.0,856.0,...,752.0,752.0,764.0,760.0,764.0,756.0,760.0,752.0,748.0,752.0
3,1212.0,796.0,728.0,716.0,720.0,728.0,732.0,488.0,856.0,736.0,...,752.0,764.0,760.0,764.0,756.0,760.0,752.0,748.0,752.0,744.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43250,932.0,940.0,568.0,1024.0,984.0,980.0,1004.0,580.0,772.0,956.0,...,1000.0,980.0,612.0,860.0,944.0,728.0,976.0,1068.0,832.0,696.0
43251,940.0,568.0,1024.0,984.0,980.0,1004.0,580.0,772.0,956.0,1304.0,...,980.0,612.0,860.0,944.0,728.0,976.0,1068.0,832.0,696.0,892.0
43252,568.0,1024.0,984.0,980.0,1004.0,580.0,772.0,956.0,1304.0,1228.0,...,612.0,860.0,944.0,728.0,976.0,1068.0,832.0,696.0,892.0,900.0
43253,1024.0,984.0,980.0,1004.0,580.0,772.0,956.0,1304.0,1228.0,896.0,...,860.0,944.0,728.0,976.0,1068.0,832.0,696.0,892.0,900.0,596.0
43254,984.0,980.0,1004.0,580.0,772.0,956.0,1304.0,1228.0,896.0,544.0,...,944.0,728.0,976.0,1068.0,832.0,696.0,892.0,900.0,596.0,1004.0

In [18]:
final_ecg_divide=final_ecg_divide.round(0).astype(int)
final_ecg_divide

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,804,744,728,724,1212,796,728,716,720,728,...,764,760,760,752,752,764,760,764,756,760
0,744,728,724,1212,796,728,716,720,728,732,...,760,760,752,752,764,760,764,756,760,752
1,728,724,1212,796,728,716,720,728,732,488,...,760,752,752,764,760,764,756,760,752,748
2,724,1212,796,728,716,720,728,732,488,856,...,752,752,764,760,764,756,760,752,748,752
3,1212,796,728,716,720,728,732,488,856,736,...,752,764,760,764,756,760,752,748,752,744
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43250,932,940,568,1024,984,980,1004,580,772,956,...,1000,980,612,860,944,728,976,1068,832,696
43251,940,568,1024,984,980,1004,580,772,956,1304,...,980,612,860,944,728,976,1068,832,696,892
43252,568,1024,984,980,1004,580,772,956,1304,1228,...,612,860,944,728,976,1068,832,696,892,900
43253,1024,984,980,1004,580,772,956,1304,1228,896,...,860,944,728,976,1068,832,696,892,900,596
43254,984,980,1004,580,772,956,1304,1228,896,544,...,944,728,976,1068,832,696,892,900,596,1004

In [19]:
final_fianl_ecg_data = pd.concat([final_ecg_label, final_ecg_divide], axis=1)
final_fianl_ecg_data

,label,0,1,2,3,4,5,6,7,8,...,90,91,92,93,94,95,96,97,98,99
0,0,804,744,728,724,1212,796,728,716,720,...,764,760,760,752,752,764,760,764,756,760
0,0,744,728,724,1212,796,728,716,720,728,...,760,760,752,752,764,760,764,756,760,752
1,0,728,724,1212,796,728,716,720,728,732,...,760,752,752,764,760,764,756,760,752,748
2,0,724,1212,796,728,716,720,728,732,488,...,752,752,764,760,764,756,760,752,748,752
3,0,1212,796,728,716,720,728,732,488,856,...,752,764,760,764,756,760,752,748,752,744
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43250,100,932,940,568,1024,984,980,1004,580,772,...,1000,980,612,860,944,728,976,1068,832,696
43251,100,940,568,1024,984,980,1004,580,772,956,...,980,612,860,944,728,976,1068,832,696,892
43252,100,568,1024,984,980,1004,580,772,956,1304,...,612,860,944,728,976,1068,832,696,892,900
43253,100,1024,984,980,1004,580,772,956,1304,1228,...,860,944,728,976,1068,832,696,892,900,596
43254,100,984,980,1004,580,772,956,1304,1228,896,...,944,728,976,1068,832,696,892,900,596,1004

In [20]:
final_fianl_ecg_data.reset_index(inplace=True)

In [21]:
del final_fianl_ecg_data['index']

In [22]:
final_fianl_ecg_data

,label,0,1,2,3,4,5,6,7,8,...,90,91,92,93,94,95,96,97,98,99
0,0,804,744,728,724,1212,796,728,716,720,...,764,760,760,752,752,764,760,764,756,760
1,0,744,728,724,1212,796,728,716,720,728,...,760,760,752,752,764,760,764,756,760,752
2,0,728,724,1212,796,728,716,720,728,732,...,760,752,752,764,760,764,756,760,752,748
3,0,724,1212,796,728,716,720,728,732,488,...,752,752,764,760,764,756,760,752,748,752
4,0,1212,796,728,716,720,728,732,488,856,...,752,764,760,764,756,760,752,748,752,744
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43251,100,932,940,568,1024,984,980,1004,580,772,...,1000,980,612,860,944,728,976,1068,832,696
43252,100,940,568,1024,984,980,1004,580,772,956,...,980,612,860,944,728,976,1068,832,696,892
43253,100,568,1024,984,980,1004,580,772,956,1304,...,612,860,944,728,976,1068,832,696,892,900
43254,100,1024,984,980,1004,580,772,956,1304,1228,...,860,944,728,976,1068,832,696,892,900,596
43255,100,984,980,1004,580,772,956,1304,1228,896,...,944,728,976,1068,832,696,892,900,596,1004

In [23]:
final_fianl_ecg_data.to_csv('08215_label_100_data_revise.csv', index='true')

In [87]:
# final_ecg[1:].astype(float)/250

,label,0,1,2,3,4,5,6,7,8,...,90,91,92,93,94,95,96,97,98,99
1,0.0,0.632,0.904,0.580,0.576,0.956,0.592,0.596,0.936,0.848,...,0.448,0.532,0.576,0.432,0.504,0.976,0.564,0.768,0.948,0.536
2,0.0,0.904,0.580,0.576,0.956,0.592,0.596,0.936,0.848,0.868,...,0.532,0.576,0.432,0.504,0.976,0.564,0.768,0.948,0.536,0.664
3,0.0,0.580,0.576,0.956,0.592,0.596,0.936,0.848,0.868,0.808,...,0.576,0.432,0.504,0.976,0.564,0.768,0.948,0.536,0.664,0.960
4,0.0,0.576,0.956,0.592,0.596,0.936,0.848,0.868,0.808,0.828,...,0.432,0.504,0.976,0.564,0.768,0.948,0.536,0.664,0.960,0.540
5,0.0,0.956,0.592,0.596,0.936,0.848,0.868,0.808,0.828,0.824,...,0.504,0.976,0.564,0.768,0.948,0.536,0.664,0.960,0.540,0.552
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43900,0.0,0.780,0.840,0.816,0.816,0.804,0.820,0.812,0.804,0.812,...,0.812,0.808,0.776,0.848,0.824,0.828,0.780,0.860,0.840,0.828
43901,0.0,0.840,0.816,0.816,0.804,0.820,0.812,0.804,0.812,0.812,...,0.808,0.776,0.848,0.824,0.828,0.780,0.860,0.840,0.828,0.824
43902,0.0,0.816,0.816,0.804,0.820,0.812,0.804,0.812,0.812,0.804,...,0.776,0.848,0.824,0.828,0.780,0.860,0.840,0.828,0.824,0.816
43903,0.0,0.816,0.804,0.820,0.812,0.804,0.812,0.812,0.804,0.820,...,0.848,0.824,0.828,0.780,0.860,0.840,0.828,0.824,0.816,0.812
43904,0.0,0.804,0.820,0.812,0.804,0.812,0.812,0.804,0.820,0.804,...,0.824,0.828,0.780,0.860,0.840,0.828,0.824,0.816,0.812,0.828

AttributeError: type object 'type' has no attribute 'final_ecg'

In [67]:
final_ecg["0", "1", "2", "3", "4", "5", "6", "7", "8", "9", "10", 
          "11", "12", "13", "14", "15", "16", "17", "18", "19", "20", 
          "21", "22", "23", "24", "25", "26", "27", "28", "29", "30",
          "31", "32", "33", "34", "35", "36", "37", "38", "39", "40",
          "41", "42", "43", "44", "45", "46", "47", "48", "49", "50",
          "51", "52", "53", "54", "55", "56", "57", "58", "59", "60",
          "61", "62", "63", "64", "65", "66", "67", "68", "69", "70",
          "71", "72", "73", "74", "75", "76", "77", "78", "79", "80",
          "81", "82", "83", "84", "85", "86", "87", "88", "89", "90",
          "91", "92", "93", "94", "95", "96", "97", "98", "99"]

KeyError: ('0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31', '32', '33', '34', '35', '36', '37', '38', '39', '40', '41', '42', '43', '44', '45', '46', '47', '48', '49', '50', '51', '52', '53', '54', '55', '56', '57', '58', '59', '60', '61', '62', '63', '64', '65', '66', '67', '68', '69', '70', '71', '72', '73', '74', '75', '76', '77', '78', '79', '80', '81', '82', '83', '84', '85', '86', '87', '88', '89', '90', '91', '92', '93', '94', '95', '96', '97', '98', '99')

In [49]:
final_ecg.reset_index(inplace=True)
# final_ecg.set_index(0:43905)

In [61]:
final_ecg['0', '1', '2', '3', '4', '5', '6', '7','8','9','10',
              '11', '12', '13', '14', '15', '16', '17','18','19','20',
              '21', '22', '23', '24', '25', '26', '27','28','29','30',
              '31', '32', '33', '34', '35', '36', '37','38','39','40',
              '41', '42', '43', '44', '45', '46', '47','48','49','50',
              '51', '52', '53', '54', '55', '56', '57','58','59','60',
              '61', '62', '63', '64', '65', '66', '67','68','69','70',
              '71', '72', '73', '74', '75', '76', '77','78','79','80',
              '81', '82', '83', '84', '85', '86', '87','88','89','90',
              '91', '92', '93', '94', '95', '96', '97','98','99']

KeyError: ('0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31', '32', '33', '34', '35', '36', '37', '38', '39', '40', '41', '42', '43', '44', '45', '46', '47', '48', '49', '50', '51', '52', '53', '54', '55', '56', '57', '58', '59', '60', '61', '62', '63', '64', '65', '66', '67', '68', '69', '70', '71', '72', '73', '74', '75', '76', '77', '78', '79', '80', '81', '82', '83', '84', '85', '86', '87', '88', '89', '90', '91', '92', '93', '94', '95', '96', '97', '98', '99')

In [51]:
del final_ecg['index']

In [56]:
final_ecg

,label,0,1,2,3,4,5,6,7,8,...,90,91,92,93,94,95,96,97,98,99
0,0,139,158,226,145,144,239,148,149,234,...,120,112,133,144,108,126,244,141,192,237
1,0,158,226,145,144,239,148,149,234,212,...,112,133,144,108,126,244,141,192,237,134
2,0,226,145,144,239,148,149,234,212,217,...,133,144,108,126,244,141,192,237,134,166
3,0,145,144,239,148,149,234,212,217,202,...,144,108,126,244,141,192,237,134,166,240
4,0,144,239,148,149,234,212,217,202,207,...,108,126,244,141,192,237,134,166,240,135
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43900,0,195,210,204,204,201,205,203,201,203,...,203,202,194,212,206,207,195,215,210,207
43901,0,210,204,204,201,205,203,201,203,203,...,202,194,212,206,207,195,215,210,207,206
43902,0,204,204,201,205,203,201,203,203,201,...,194,212,206,207,195,215,210,207,206,204
43903,0,204,201,205,203,201,203,203,201,205,...,212,206,207,195,215,210,207,206,204,203
43904,0,201,205,203,201,203,203,201,205,201,...,206,207,195,215,210,207,206,204,203,207

In [ ]:
final_ecg[]

In [58]:
final_ecg_divide = final_ecg.iloc[:, 1:]

type(final_ecg_divide)

pandas.core.frame.DataFrame

In [59]:
final_ecg_divide = pd.to_numeric(final_ecg_divide, errors='coerce')

TypeError: arg must be a list, tuple, 1-d array, or Series

In [55]:
final_ecg_divide = int(final_ecg_divide)/250*1000

final_ecg_divide

TypeError: int() argument must be a string, a bytes-like object or a number, not 'DataFrame'

In [10]:
up_append

Empty DataFrame
Columns: [0, 139, 158, 226, 145, 144, 239, 148, 149, 234, 212, 217, 202, 207, 206, 137, 135, 131, 94, 125, 117, 220, 224, 134, 146, 249, 139.1, 153, 234.1, 217.1, 221, 215, 205, 209, 141, 139.2, 123, 94.1, 120, 104, 95, 115, 97, 166, 123.1, 74, 123.2, 109, 83, 88, 122, 149.1, 100, 141.1, 247, 221.1, 213, 132, 287, 146.1, 279, 144.1, 132.1, 233, 145.1, 180, 234.2, 145.2, 148.1, 231, 228, 202.1, 209.1, 208, 216, 200, 208.1, 204, 204.1, 207.1, 206.1, 207.2, 204.2, 214, 200.1, 206.2, 205.1, 205.2, 139.3, 129, 131.1, 120.1, 112, 133, 144.2, 108, 126, 244, 141.2, 192, ...]
Index: []

[0 rows x 101 columns]

In [13]:
up_append_np = np.array(up_append)

In [14]:
up_append_np

array([], shape=(0, 101), dtype=int64)

In [15]:
up_append_np.reshape(-1,)

array([], dtype=int64)

In [16]:
up_append_np

array([], shape=(0, 101), dtype=int64)